.main{    
    display: flex;
    justify-content: center;
    margin-top: 0px;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
    background-color: #fafafa;
}

.container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

@media (min-width: 650px) {
    .container {
        max-width: 700px;        
    }
}

strong{
    color: #ff6600;
}

.maersk{
    width:15px;
    height:auto;
}