.main{
    /*max-width: 600px;*/
    max-width:40%;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
}

strong{
    color: #ff6600;
}

.maersk{
    width:15px;
    height:auto;
}